// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~admin-lte/dist/css/adminlte.css";

@import "~admin-lte/plugins/fontawesome-free/css/all.css";

@import "database.min.css";

@import "~datatables/media/css/jquery.dataTables.css";

@import "~bootstrap-icons/font/bootstrap-icons.css";
